<head>
    <meta name="viewport" content = "wdth=device-width, initia-scale=1.0">
    <title>WEB FLORIST</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Elsie&family=Gamja+Flower&family=Imperial+Script&family=Itim&family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <img src = "images/background.png" class="latar">
    <div class="tlatar">
        <p>bae.bloom</p>
    </div>
    <div class="bae">
        <p>make your bae<br>smile :)</p>
    </div>
    <div class="moment">
        <p>choose your moment</p>
    </div>
    <img src = "images/graduation.png" class="graduation">
    <img src = "images/valentine.jpg" class="valentine">
    <img src = "images/wedding buket.jpg" class="wedding">
    <img src= "images/custom top.jpg" class="custom">
    <div class="grad-text"><p>Graduation</p></div>
    <div class="val-text"> <p>Valentine</p></div>
    <div class="wed-text"> <p>Wedding & <br>Fiance</p> </div>
    <div class="cust-text"><p>Custom</p></div> 

    <img src= "images/custom yours.png" class="latar2">
    <div class="tlatar2">
        <p> Custom your Bouquets</p>
    </div>
    <div class="make">
        <p>"make your <br> own bouquets<br> for your love</p>
    </div>
    
    <img src="images/event.png" class="latar3">
    <img src="images/Rectangle.png" class="inLatar3">
    <div class="tlatar3"><p> planning <br>  an  <br> event?</p> </div>

    <div class="square"></div>
    <img src="images/contact.png" class="contact">
    <div class="footer">
        <p>bae.bloom</p>
    </div>
</body>

   
