.tlatar{
    font-family: 'Gamja Flower', cursive;
    font-size: 64px;
    transform: translate(20px, -650px);
}
.bae{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 96px;
    transform: translate(40px, -650px);

}
.moment{
    font-family: 'Itim', cursive;
    font-size: 64px;
    transform: translate(400px, -550px);
}
.graduation{
    width: 224px;
    height: 276px;
    transform: translate(100px, -550px);
}
.grad-text{
    font-family: 'Itim', cursive;
    font-size: 36px;
    transform: translate(120px,-575px);
}
.valentine{
    width: 224px;
    height: 276px;
    transform: translate(200px,-550px);
}
.val-text{
   font-family: 'Itim',cursive;
   font-size: 36px;
   transform: translate(475px,-650px);
}
.wedding{
    width: 224px;
    height: 276px;
    transform: translate(250px,-550px);
}
.wed-text{
    font-family: 'Itim',cursive;
    font-size: 36px;
    transform: translate( 735px,-725px);
}
.custom{
    width: 224px;
    height: 276px;
    transform: translate(300px,-550px);
}
.cust-text{
    font-family: 'Itim', cursive;
    font-size: 36px;
    transform: translate(1035px,-850px);
}
.latar2{
    width: 1451px;
    height: 471px;
    position: absolute;
    bottom: -1075px;
}
.tlatar2{
    font-family: 'Itim',cursive;
    font-size: 64px;
    transform: translate(350px,-820px);
}

.make {
   font-family: 'Elsie',cursive;
   font-size: 64px;
   transform: translate(50px,-855px);
}
.latar3{
    width:1440px;
    height: 577px;
    position: absolute;
    bottom:-1650px;
}
.inLatar3{
    width: 565px;
    height: 307px;
    position: absolute;
  transform: translate(330px,-630px);
}
.tlatar3{
    font-family: 'JetBrains Mono', monospace;
    font-size: 52px;
    transform: translate(525px,-600px);
}
.square{
    width: 116%; 
    height: 45%;
    background: #D0C9C0;
    transform: translate(0px,-465px);
}
.contact{
    width:400px;
    height: 58px;
    transform: translate(360px,-570px);
}
.footer{
    font-family:'Imperial Script', cursive;
    font-size: 96px;
    transform: translate(430px,-875px);
}
